.ant-menu-item-selected {
  background-color: #77d9a1 !important;
  color: #ffff !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #77d9a1 !important;
  font-weight: 500;
}

.ant-tabs-ink-bar {
  border-bottom: 1px solid #478261;
}

.ant-tabs-tab-btn {
  color: #afafaf !important;
  font-weight: 500;
}

.ant-input-disabled {
  cursor: default !important;
}
.ant-select-selector {
  cursor: default !important;
}

.ant-select-selector.ant-select-selector-disabled {
  cursor: default !important;
}

.ant-picker.ant-picker-outlined.ant-picker-disabled input[disabled] {
  cursor: default !important;
}

.ant-picker {
  cursor: default !important;
}
